<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark vh-100">
    <a href="/" class="text-center text-white text-decoration-none">
        <span class="fs-4">Todos</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a routerLink="/" class="nav-link text-white" aria-current="page">
                List
            </a>
        </li>
        <li>
            <a routerLink="/todos/add" class="nav-link text-white">
                Add
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown text-center">
        @copyright 2023
    </div>
</div>